@import url(reset.css);

.main-container{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.menu-items{
    display: flex;
}
.menu-items .nav-ul{
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    display: flex;
}
.menu-items .list-item{
    list-style: none;
}

.menu-items .list-item .menu-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    margin: 1rem;
    display: block;
}

.container{
    position: relative;
    margin:0;
    display: flex;
    flex-direction: row;
}

.container .navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.buttons{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button{
    padding: 1rem 7rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    cursor: pointer;
}
.buttons .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.button-secondary{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.button-secondary:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.container .navigation
{
    position : relative;
    min-width : 25rem;
    max-width: 25rem;
    height: 100vh;
    background: var(--secondary-color);
    border-radius: 0;
    overflow:hidden;
    flex-grow: 7;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
}


.content-area{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 2rem;
}
.card-component-area{
    display: flex;
    flex-wrap: wrap;
}